<html>
    <head>
        <style type="text/css">
          body {
            background: black;
            color: lightgreen;
          }
          div.container {
            max-width: 500px;
            margin: 100px auto;
          }
          h4 {
            text-transform: uppercase;
            font-size: 36px;
          }
          img{
            max-width: inherit;
          }
        </style>
    </head>
    <body>
        <div class="container">
            <h4>Hello! Here is your pic:</h4><br>
            <img src="{{ url }}">
        </div>
    </body>
</html>
