<html>
    <header><title>Hello there!</title></header>
    <body>
        inventory_hostname: {{ inventory_hostname }}<br>
        ansible_hostname: {{ ansible_hostname }}<br>
        ansible_os_family: {{ ansible_os_family }}<br>
        ansible_default_ipv4.address: {{ ansible_default_ipv4.address }}<br>
        <img src="./photo.png">
    </body>
</html>
